# Core dependencies
opencv-python
numpy
pandas
streamlit
Pillow
deep-sort-realtime

# For AI/Deep Learning
torch
torchvision
ultralytics
filterpy
scipy

# For database or logging (optional)
SQLAlchemy

# For handling video stream
ffmpeg-python
requests

# For plotting or visual analytics
matplotlib
plotly